<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/birthday.css">
</head>
<body>
    <div class="hero happy-monkey-regular">
        <h1>Today is Nick's Birthday</h1>
        <img src="../Assets/image.png" class="pprofile" alt="profile picture radnom">
        <h2 id="years">24 Years Old</h2>
        <h3 id="date">01.11.2014</h3>
    </div>
    <div class="giffy1 hero happy-monkey-regular">
        <h1>Here's How Happy I Am For You Today!</h1>
        <h3>Hover Over The Gift</h3>
        <span class="wrap"><img id="goof" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdHV3YnBtbm4zcTdpc2VuN29sNzJrcDEzNjkyM20wamhlM284NHl5bCZlcD12MV9naWZzX3RyZW5kaW5nJmN0PWc/ItGT4HMGiHfndjFjnd/giphy.gif" alt="bbob dance"></span>
    </div>
</body>
</html>