<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/Pricing.css">
</head>
<body>
    <h1>Upgrade to pro</h1>
    <div class="pricing">
        <h2>for individuals</h2>
        <ul>
            <li>1 gb</li>
            <li>No support</li>
        </ul>
        <button>buy now</button>
        <h2>for enterprise</h2>
        <ul>
            <li>10 gb</li>
            <li>priority support</li>
        </ul>
        <button>contact us</button>
    </div>
</body>
</html>