*{
    background-color: rgb(41, 41, 94);
    border: 0px;
    padding: 0px;
}


.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    overflow: hidden;
}

.active{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}