*{
    background-color: rgb(41, 41, 94);
    border: 0px;
    padding: 0px;
}


.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    overflow: hidden;
    /* height: 5vh; */
}

.active{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.search-container{
    border: 1px solid white;
    opacity: 0.5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 8px;
    height: 30px;
    
}

.search-container:hover{
    border: 1px solid black;
    cursor: pointer;
}
input[type="search"]:focus{
    outline: none;
}

#search-form, #query-bar{
    padding: 2px;
    border: none;
    
    /* border: 1px solid green; */
    color: white;
}


.columns{
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    height: 50vh;
    width: 19vw;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    overflow: hidden;
    align-items: center;
    border-radius: 13px;
}

.movie-img{
    /* background: transparent; */
    height: 41vh;
    width: 20vw;
    border-radius: 20px;
    
}

.movie-title{
    margin-top: 25px;
    color: white;
    text-transform: capitalize;
}