.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #a2d2ff;
    color: white;
}

.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 1px black;
}

.pprofile{
    height: 300px;
    width: auto;
    border-radius: 50%;
    border: 6px solid #efb0c9;
}

#date{
    background-color: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}
#years{
    background-color: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    
}

.wrap{
    background-image: url('../Assets/gift.png');
    background-size: cover;
    border: 4px solid white;
    border-radius: 4px;
    width: 400px;
    height: 400px;
    transition: opacity 0.8s linear;
    cursor: pointer;
}

.final{
    height: 200px;
}

#gift1:hover {
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdHV3YnBtbm4zcTdpc2VuN29sNzJrcDEzNjkyM20wamhlM284NHl5bCZlcD12MV9naWZzX3RyZW5kaW5nJmN0PWc/ItGT4HMGiHfndjFjnd/giphy.gif');
}
#gift2:hover {
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZXZ5Y2w5Y2I4bGxuNTZvY2swMWhlMjlzbWV2NzIzdDVxcmF3aDBvciZlcD12MV9naWZzX3RyZW5kaW5nJmN0PWc/UO5elnTqo4vSg/giphy.gif');
}
#finalgift:hover {
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdG9kMWJpc3BvNG53eTEyMXJsYjk0aXBtZ3Q0MHRvNzN0M3Rib2huciZlcD12MV9naWZzX3NlYXJjaCZjdD1n/jtbyA4cFpf673UjYPo/giphy.gif');
}
